body {
  background-color: lightgray !important;
}

.bg-secondary {
  background-color: rgb(154, 178, 185) !important;
}

.slider {
  margin: 0px auto;
  width: 75%;
}

.task-card {
  border-radius: 20px;
}